asgiref==3.8.1
Django==3.2.25
pytz==2024.1
sqlparse==0.5.0
typing_extensions==4.12.0
pillow==10.4.0
django-extensions==3.2.3
installed pip==24.2 #Successfully 
installed django-robots==6.1
django-taggit-6.1.0 
django-summernote-0.8.20.0 #Successfully 
django-simple-captcha
django-multi-captcha-admin 
