{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style></style>
  </head>
  <body>
    <center>
      <h1>Index</h1>
    </center>
    <link rel="stylesheet" href="{% static 'css/test.css' %}" />
    <p>
      eگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های
      برخورده اید که با نام لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما
      (به انگلیسی: Lorem ipsum) متنی ساختگی و بدون معنی است که برای امتحان فونت
      و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان
      وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده
      می‌کنند. طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو
      هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درستی به کار
      فرما نمیدهد. اگر طراح بخواهد دنبال متن های مرتبط بگردد تمرکزش از روی کار
      اصلی برداشته میشود و اینکار زمان بر خواهد بود. همچنین طراح به دنبال این
      است که پس از ارایه کار نظر دیگران را در مورد طراحی جویا شود و نمی‌خواهد
      افراد روی متن های موجود تمرکز کنند..
    </p>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
