<div class="single-sidebar-widget post-category-widget">
    <h4 class="category-title">Post Catgories</h4>
    <ul class="cat-list">

        {% for cat_name , cat_nm_count in categories.items %}
      <li>
        <a href="{% url 'blog:category' cat_name=cat_name %}" class="d-flex justify-content-between">
          <p>{{cat_name}}</p>
          <p>{{cat_nm_count}}</p>
        </a>
      </li>
        {% endfor %}
        <a href="#" class="d-flex justify-content-between">
          <p>Architecture</p>
          <p>09</p>
        </a>
      </li>
      <li>
        <a href="#" class="d-flex justify-content-between">
          <p>Adventure</p>
          <p>44</p>
        </a>
      </li>
    </ul>
  </div>