<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <p>this is for Testing</p>
    {{posts}}
    ***********************************************************************************************************
    {% for post in posts %}
      {% if post.status == 0 %}
        <P>Not published yet</P>
      {% else %}
        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>
        <small>{{post.published_date}}</small>
      {% endif %}
    {% endfor %}
  </body>
</html>
